/*  Reset  */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Quattrocento Sans', sans-serif;
}

/*  Top Level Elements  */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*font-size: 1.1em;*/
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 50px;
}

li {
    padding-top: 20px;
    list-style: none;
}
button {
    cursor: pointer;
}

table {
    line-height: 50px;
}

form {
    border: solid 1px #f3f3f3;
    border-radius: 3px;
    padding: 20px;
}

input {
    border: solid 1px white;
    padding: 5px;
    background-color: #f3f3f3;
}

textarea {
    border: solid 1px white;
    padding: 18px;
    background-color: #f3f3f3;
}

.container {
    margin: 0 auto;
}

.page {
    margin: 0 auto;
    padding: 30px;
    /*height: 100vh;*/
}

.page li:before {
    content: '> ';
}
.wrap {
    padding: 50px 30px;
}

/*-----------------------*/
/*         HEADER        */
/*-----------------------*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.80);
    height: 75px;
}

.minimize {
    height: 40px; !important;
}

/*  Logo  */

.logo h2 {
    font-family: 'New Rocker', cursive;
    font-size: 2em;
    float: left;
    margin: 20px 30px;
    color: rgba(255, 255, 255, 0.75);
}

/*  Nav Bar  */

nav ul {
    list-style: none !important;
    float: right;
    margin: 0 20px;
}

nav li {
    display: inline;
    float: left;
}

.nav-item {
    padding: 29px 15px;
}

.nav-item a {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    color: #ffffff;
}

.gray {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9em;
}

.darkgray {
    color: #717171;
    font-size: 0.9em;
    padding-left: 10px;
}

.right {
    float: right;
}

/*--------------------------*/
/*        WALLPAPER         */
/*--------------------------*/


@media only screen and (min-width: 1600px) {
    .wall {
        background: url("../assets/drawing-pad-12097811_1920.jpg");
        background-size: cover;
        height: 1000px;
        /*background: url('../assets/white-gradient.png') no-repeat center;*/
    }

    .page {
        width: 50%;
    }

    #foot-wrap {
        width: 50%;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    .wall {
        background: url("../assets/drawing-pad-1209781_1280.jpg");
        background-size: cover;
        height: 900px;
        /*background: url('../assets/white-gradient.png') no-repeat center;*/
    }

    .page {
        width: 60%;
    }

    #foot-wrap {
        width: 60%;
    }
}

@media only screen and (max-width: 1279px) {
    .wall {
        background: url("../assets/drawing-pad-1209781_640.jpg");
        background-size: cover;
        height: 900px;
        /*background: url('../assets/white-gradient.png') no-repeat center;*/
    }

    #foot-wrap {
        width: 60%;
    }
}
/*--------------------------*/
/*          SKILLS          */
/*--------------------------*/

#skills {
    background: rgba(61, 69, 87, 1);;
}

.skills {
    background-color: rgba(61, 69, 87, 1);
    color: white;
}

.skills li {
    list-style: none !important;
}

/*.skills li {*/
    /*padding-bottom: 25px;*/
/*}*/

#skills h1 {
    color: #FFFFFF;
}

.tb-right {
    padding-left: 15px;
}

/*--------------------------*/
/*       EXPERIENCE         */
/*--------------------------*/

#experience {
}

.experience p, .education p{
    padding-right: 13%;
}

/*--------------------------*/
/*        EDUCATION         */
/*--------------------------*/

#education {
    background: url("../assets/paper.png");
}

.education {
    background: url("../assets/paper.png");
}

/*--------------------------*/
/*         PROJECTS         */
/*--------------------------*/

#projects {
    background-color: rgba(61, 69, 87, 1);
}

.projects {
    background-color: rgba(61, 69, 87, 1);
    color: white;
    line-height: 30px;
}

.projects h2 {
    margin-top: 30px;
}

/*--------------------------*/
/*          CONTACT         */
/*--------------------------*/

#contact {
    background: url("../assets/paper.png");
    /*background-image:url('../assets/white-gradient.png');*/
    /*background-position:center center;*/
    /*background-repeat:no-repeat;*/
    /*background-attachment:scroll;*/
    /*background-size:cover;*/
}

.contact {
    background: #fff;
}

.star {
    color: indianred;
}

.btn-div {
    padding-top: 30px;
}

.send {
    padding: 8px;
    background-color: seagreen;
    border-radius: 3px;
    width: 250px;
}

.res {
    padding: 8px;
    background-color: indianred;
    border-radius: 3px;
}

/*--------------------------*/
/*          FOOTER          */
/*--------------------------*/

footer {
    background-color: #333;
    color: white;
}

footer a {
    color: lightgray;
    text-decoration: none;
}

#foot-wrap {
    margin: 0 auto;
}

#footer {
    color: #C4C4C4;
    display: inline;
    line-height: 25px;
}

#footer ul {
    margin-bottom: 10px;
}

#footer li {
    padding-top: 0;
}

.footer {
    margin-top: 10px;
    padding: 20px;
}

#footer1 {
    /*background-color: gray;*/
    width: 15%;
    display: inline-block;
}

#footer2 {
    /*background-color: red;*/
    width: 15%;
    display: inline-block;
}

#footer3 {
    width: 55%;
    display: inline-block;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 25px;
    vertical-align: top;
    background: url("../assets/binding-dark.png") #1D1D1D;
}

.about {

}