/*  Reset  */
* {
    margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;
    vertical-align: baseline; background: transparent;
    font-family: 'Quattrocento Sans', sans-serif;
}

/*------------------------*/
/*   Top Level Elements   */
/*------------------------*/

html, body { height: 100%; margin: 0; padding: 0; }
h1 { font-size: 1.6em; margin-bottom: 20px; }
h2 { font-size: 1.3em;  margin-bottom: 10px; }
h3 {  font-size: 1.1em;  margin-bottom: 10px; }
ul {  margin-bottom: 50px; }
li {  padding-top: 15px;  line-height: 25px; }
button { cursor: pointer; }
table {  line-height: 50px;  width: 100%;  border-collapse: collapse; }
th { text-align: center; }
label { font-size: 0.9em; }
.container { margin: 0 auto; }

/*-----------------------*/
/*    GENERIC CLASSES    */
/*-----------------------*/


.page {
    margin: 0 auto;
    padding: 30px;
}

.wrap {
    padding: 50px 30px;
}

.topbtn {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0.9;
}

.switch {
    cursor: pointer;
}

.gray {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.9em;
}

.darkgray {
    color: #717171;
    font-size: 0.9em;
    padding-left: 10px;
}

.right {
    float: right;
}

.education, .experience {
    text-align: justify;
}

.heads {
    max-width: 50%;
}

/*-----------------------*/
/*        SCROLLBAR      */
/*-----------------------*/

body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #555;
    outline: 1px solid slategrey;
    border-radius: 25px;
}

/*--------------------------*/
/*     MODAL FOR RESUME     */
/*--------------------------*/

embed {
    height: 90vh;
}

.modal-content {
    text-align: center;
}

.modal-content img {
    width: 70%;
}

#animatedModal {
    background: rgba(0, 0, 0, 0.8) !important;
}

.close-animatedModal{
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
    height: 3vh;
}


/*-----------------------*/
/*         HEADER        */
/*-----------------------*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    height: 75px;
    -webkit-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}

.minimize {
    background: rgba(0, 0, 0, 0.7);
    height: 50px; !important;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*  Logo  */

.logo h2 {
    font-family: 'New Rocker', cursive;
    font-size: 2em;
    float: left;
    margin: 20px;
    margin-right: 5px;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.logo-min h2 {
    font-size: 1.7em;
    margin: 8px 15px;
}

/*-----------------------*/
/*        NAV BAR        */
/*-----------------------*/

nav ul {
    list-style: none !important;
    float: right;
    margin-right: 5px;
    overflow: hidden;
}

nav li {
    display: inline;
    float: left;
}

.nav-item {
    padding: 0 10px;
    line-height: 75px;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-item-min {
    padding-top: 0;
    line-height: 50px;
}

.nav-item a {
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.nav-item-min a {
    font-size: 0.9em;
}

nav li a:hover {
    color: #F5D76E;
    border-bottom: 1px dotted;
    border-top: 1px dotted;
    padding: 7px 0;
}

a.portfolio {
  background: #FFC107;
  color: #333;
  padding: 4px;
  border-radius: 3px;
}

a.portfolio:hover {
    padding: 4px;
    color: black;
    background: #FF5722;
    border: none;
}

/* Do not display icon initially */
.icon {
    display: none;
    cursor: pointer;
}

/*--------------------------*/
/*           WALL           */
/*--------------------------*/

#wall {
    background-size: cover;
    background-position: top;
    height: 100vh;
    overflow: hidden;
}

/*--------------------------*/
/*           BIO            */
/*--------------------------*/

#bio {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /*background: url("../assets/dark-matter.png") rgba(0, 0, 0, 0.35);*/
    background: rgba(0, 0, 0, 0.45);
    color: #e3e3e3;
    overflow: hidden;
}

.bio {
    width: 70%;
    position: relative;
    margin: 0 auto;
    margin-top: -135px;
    top: 50%;
    text-align: justify;
    line-height: 30px;
}

#bio ul {
    margin-bottom: 10px;
}

#bio a{
    color: white;
    text-decoration: none;
}

#bio p a {
  text-decoration: underline;
}

.text-anim {
    text-align: center;
}

.text-anim h2 {
  margin-bottom: 20px;
}

/*--------------------------*/
/*          SKILLS          */
/*--------------------------*/

#skills {
    background: #2c3e50;
    color: white;
}

.skills li {
    list-style: none !important;
}

.tb-right {
    padding-left: 15px;
}

/*--------------------------*/
/*       EXPERIENCE         */
/*--------------------------*/

#experience {
}

.experience p, .education p{
    /*padding-top: 2px;*/
}

/*--------------------------*/
/*        EDUCATION         */
/*--------------------------*/

#education {
    background: url("../assets/gray_jean.png");
}

/*--------------------------*/
/*         PROJECTS         */
/*--------------------------*/

#projects {
    background: #2c3e50;
    color: white;
}

.projects {
    line-height: 30px;
}

.projects h2 {
    margin-top: 30px;
}

/*--------------------------*/
/*          CERTS           */
/*--------------------------*/


#certs {
    background: url(../assets/gray_jean.png);
}

#certs td {
    text-align: center;
}

.name {
    text-align: left !important;
    padding-left: 5px;
}

th {
    text-transform: uppercase;
}

#certs table, #certs td, #certs th {
    border: 1px solid #d6d6d6;
}

/*--------------------------*/
/*          CONTACT         */
/*--------------------------*/

#contact {
    background: #fff;
}

.contact {
    border: 1px solid #ececec;
    border-radius: 3px;
}

.contact h1 {
    margin-left: 18px;
    margin-top: 20px;
}

.contact p {
    color: #5a5a5a;
    font-size: 0.9em;
    padding-left: 20px;
    padding-right: 20px;
}

.ta {
    float: right;
    width: 50%;
}

form {
    padding: 20px;
}

input {
    padding: 5px;
    background: #fbfbfb;
}

input:focus {
    background: #f5f5f5;
}

textarea {
    /*border: solid 1px #f1f1f1;*/
    width: 90%;
    padding: 15px;
    background: #fbfbfb;
}

textarea:focus {
    background: #f5f5f5;
}

.inputs {
    width: 50%;
}

.inputs input {
    width: 80%;
}

.btn-div {
    padding-top: 30px;
}

.send {
    font-size: 0.9em;
    padding: 8px;
    background: #dadada;
    border-radius: 3px;
    width: 20%;
}

.send:hover {
    background: #999;
}

.red {
     color: indianred;
 }

/*--------------------------*/
/*          FOOTER          */
/*--------------------------*/

footer {
    background: url("../assets/binding-dark.png") black;
    color: white;
    height: 200px;
    border-top: 10px solid #383838;
}

footer a {
    font-size: 0.9em;
    color: lightgray;
    text-decoration: none;
}

#foot-wrap {
    margin: 0 auto;
}

#footer {
    color: #C4C4C4;
    display: inline;
    line-height: 25px;
}

#footer ul {
    margin-bottom: 10px;
}

#footer li {
    padding-top: 0;
    list-style: none;
}

.footer {
    margin-top: 15px;
    padding: 20px;
}

#footer1 {
    width: 15%;
    display: inline-block;
}

#footer2 {
    width: 15%;
    display: inline-block;
}

#footer3 {
    display: inline-block;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    vertical-align: top;
}

.about {
    font-size: 0.9em;
}

.copyright {
    padding-top: 6px;
    min-height: 20px;
    background: rgb(194, 0, 35);
    color: #000000;
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
}


/*-----------------------*/
/*      MEDIA QUERIES    */
/*-----------------------*/

@media only screen and (min-width: 1600px) {
    #wall {
        background: url("../assets/photoshop-interface-1834294_1920.jpg");
        background-size: cover;
        background-position: top;
    }

    .bio {
        width: 50%;
        line-height: 30px;
    }

    .page {
        width: 50%;
    }

    #foot-wrap {
        width: 50%;
    }

    #footer3 {
        width: 54%;
    }

}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    #wall {
        background: url("../assets/photoshop-interface-1834294_1920.jpg");
        background-size: cover;
        background-position: top;
    }

    .bio {
        width: 50%;
    }

    .page {
        width: 60%;
    }

    #foot-wrap {
        width: 60%;
    }

    #footer3 {
        width: 53%;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1279px) {

    .logo h2 {
        font-size: 1.7em;
    }

    #wall {
        background: url("../assets/photoshop-interface-1834294_1280.jpg");
        background-size: cover;
        background-position: top;
    }

    .bio {
        width: 50%;
    }

    #foot-wrap {
        width: 100%;
    }

    #footer3 {
        width: 50%;
    }

    nav {
        margin-right: 10px;
    }

    nav ul {
        margin-right: 0;
    }

    .nav-item {
        font-size: 0.9em;
    }

}

@media only screen and (min-width: 650px) and (max-width: 849px) {

    header {
        height: 50px;
    }

    .logo h2 {
        margin-top: 12px;
        margin-left: 10px;
        font-size: 1.3em;
    }

    .nav-item {
        font-size: 0.7em;
        padding: 0 6px;
        line-height: 50px;
    }

    .nav-item {
        margin-top: 0;
    }

    #wall {
        background: url("../assets/photoshop-interface-1834294_640.jpg");
        background-size: cover;
        background-position: top;
    }

    #certs table, #certs td, #certs th {
        line-height: 25px;
    }

    #contact {
        padding: 0;
    }

    #foot-wrap {
        width: 100%;
    }

    #footer3 {
        width: 50%;
    }

    .modal-content img {
        width: 100%;
    }

}

@media only screen and (max-width: 649px) {

    body {
        font-size: 0.9em;
    }

    header {
        height: 50px;
    }

    .logo h2 {
        margin-top: 12px;
        margin-left: 10px;
        font-size: 1.5em;
    }

    /* RESPONSIVE NAV BAR */

    nav ul { margin: 0; }
    nav li {  display: none; }
    .nav-item { line-height: 25px; }
    .responsive { width: 100vw;  height: 100vh;  position: absolute;  top: 50px;
      background: rgba(0, 0, 0, 0.85);  padding: 10px 0;  -webkit-transition: all 0.3s ease-in-out;  -ms-transition: all 0.3s ease-in-out;  transition: all 0.5s ease-in-out;
    }
    .icon { float: right;  display: inline-block;  position: absolute;  right: 0;
      top: 0;  padding: 10px;  font-size: 1.5em;  color: #fff;
    }
    .responsive li {  float: none;  display: inline; }
    .responsive li a { display: block; text-align: center;  padding: 3px; }
    .responsive li a:hover { padding: 3px; border: none; }

    /* RESPONSIVE NAV BAR ENDS*/

    #wall {
        background: url("../assets/photoshop-interface-1834294_640.jpg");
        background-size: cover;
        background-position: top;
    }

    video {
      display: none;
    }

    .bio {
        width: 90%;
        top: 40%;
        line-height: 20px;
    }

    .wrap {
        padding: 25px;
    }

    .page {
        padding: 30px 0 0 0;
    }

    #certs table, #certs td, #certs th {
        line-height: 25px;
    }

    #contact {
        padding: 0;
    }

    .contact {
        padding: 10px;
    }

    footer {
        height: 100%;
    }

    .footer {
        margin-top: 0;
        padding: 10px;
    }

    #foot-wrap {
        width: 100%;
    }

    #footer1, #footer2 {
        width: 40%;
        text-align: center;
    }

    #footer3 {
        width: 93%;
        margin: 0;
        padding-bottom: 20px;
        text-align: justify;
    }

    #footer3 h3{
        text-align: center;
    }

    .modal-content img {
        width: 100%;
    }
}

.page ul {
    padding-left: 18px;
}







/* TEMP CHANGES */

body {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
}
.container-fluid{
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  /* background: #FFF; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content {
  z-index: 999;
}

.text {
    font-size: 1.2rem;
}

.name {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  color: #9e9e9e;
  font-weight: 600;
  text-align: right;
}

.footer {
    z-index: 999;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    color: #607d8b;
    font-size: 0.75em;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:hover {
    color: #9e9e9e;
}

/* ============= Animation background ========= */
.background {
  background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
